/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-06-04, 08:30:26
    Author     : lukasz
*/
html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.scrollpane-container {
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;
  /*width:100%;
	height:100%;*/
  position: absolute;
}
.scrollpane-container .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
