.pane {
  background: #000000 no-repeat 50% 50%;
}
.p1 {
  background-image: url(../rollImages/1.jpg);
  background-size: 100%;
}
.p2 {
  background-image: url(../rollImages/2.jpg);
  background-size: 100%;
}
.p3 {
  background-image: url(../rollImages/3.jpg);
  background-size: 100%;
}
.p4 {
  background-image: url(../rollImages/4.jpg);
  background-size: 100%;
}
.p5 {
  background-image: url(../rollImages/5.jpg);
  background-size: 100%;
}
.p6 {
  background-image: url(../rollImages/6.jpg);
  background-size: 100%;
}
.p7 {
  background-image: url(../rollImages/7.jpg);
  background-size: 100%;
}
